body {
    padding: 0px;
    margin: 0px;
    background: #EDEDED;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #5c5c5c;
}

p {
    font-weight: 300;
    padding: 0px 30px;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  background: rgb(249,40,125);
  background: linear-gradient(90deg, rgba(249,40,125,1) 0%, rgba(249,118,86,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

.container{
    max-width: 700px;
    margin: auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.top-bg {
    width: 100%;
    height: 140px;
    background-image: url(images/shore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

.card{
    margin: 50px;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.23);
    -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.23);
    box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.23);
    border-radius: 10px;
    text-align: center;
    background: #ffffff;
}

hr.sep {
    border: 1px solid #C2C2C2;
    margin-top: 40px;
}

img#avatar {
    display: block;
    width: 151px;
    margin: -90px auto 24px auto;
    border-radius: 50%;
    border: 11px solid rgba(255,255,255,0.5);
}

img#avatar {
box-shadow: 0 0 0 rgba(0,176,255, 1);
animation: pulse 1.5s infinite;
}
selector .elementor-button:hover {
animation: none;
}

@-webkit-keyframes pulse {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
}
70% {
-webkit-box-shadow: 0 0 0 50px rgba(255,255,255,1);
}
100% {
-webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
}
}
@keyframes pulse {
0% {
-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
}
70% {
-moz-box-shadow: 0 0 0 50px rgba(0,255,255, 1);
box-shadow: 0 0 0 50px rgba(255,255,255, 0);
}
100% {
-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
box-shadow: 0 0 0 0 rgba(255,255,255, 0);
}
}






ul.rs {
    padding: 0px 30px 28px 30px;
    margin: 0px;
}

ul.rs li {
    list-style-type: none;
    display: inline;
}

ul.rs li a {
    color: #ffffff;
    margin: 10px;
    font-size: 25px;
    background: #cccccc;
    font-size: 20px;
    display: inline-block;
    padding: 9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background 1s;
}



ul.rs li a:hover{
    color: #ffffff;
    background: #fd5068;
    transition: background 1s;
}

a.fancy-ass-btn {
    color: #ffffff;
    background: rgb(249,40,125);
    background: linear-gradient(90deg, rgba(249,40,125,1) 0%, rgba(249,118,86,1) 100%);
    font-size: 14px;
    line-height: 20px;
    padding: 9px 37px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 31px;
    margin: 18px auto;
    display: block;
    max-width: 104px;
    transition: box-shadow 2s, background 2s;
    cursor: pointer;
}


a.fancy-ass-btn:hover {
  animation: pulse 1.5s infinite;
    background: #fd5068;
        transition: box-shadow 2s, background 2s
-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.31);
box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.31);
cursor: pointer;
}



.button {
  display: inline-block;
  margin: 18px auto;
  padding: 5px 37px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-family: arial, sans-serif;
  text-decoration: none;
  border-radius: 31px;
  position: relative;
  background-color: #ccc;
  background-image: linear-gradient(90deg, rgba(249,40,125,1) 0%, rgba(249,118,86,1) 100%);
  -webkit-backface-visibility: hidden;
  z-index: 1;
}
.button:after {
  position: absolute;
  color: #fff;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 31px;
  background-image: linear-gradient(90deg, rgba(249,118,86,1) 0%, rgba(249,40,125,1) 100%);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}
.button:hover:after {
  opacity: 1;
}
.button span {
  position: relative;
  z-index: 3;
}
body {
  text-align: center;
  background: #ddd;
}

.button:hover {
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
transition: box-shadow 1s ease-out;
}

