body {
    padding: 0px;
    margin: 0px;
    background: #f5f7fa;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #5c5c5c;
}

p {
    font-weight: 300;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

.container{
    max-width: 700px;
    min-width: 365px;
    margin: auto;
}


.card{
    margin: 50px;
    padding: 30px;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.23);
    -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.23);
    box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.23);
    border-radius: 10px;
    text-align: center;
}

hr.sep {
    border: 1px solid #C2C2C2;
    margin-top: 40px;
}

img#avatar {
    display: block;
    width: 151px;
    margin: auto;
    border-radius: 50%;
}

ul.rs {
    padding: 0px;
}


ul.rs li {
    list-style-type: none;
    display: inline;
}

ul.rs li a{
    color: #5c5c5c;
    margin: 10px;
    font-size: 25px;
}




ul.rs li a:hover{
    color: #000;
    margin: 10px;
}

a.fancy-ass-btn {
    color: #ffffff;
    background: rgb(249,40,125);
    background: linear-gradient(90deg, rgba(249,40,125,1) 0%, rgba(249,118,86,1) 100%);
    font-size: 14px;
    line-height: 20px;
    padding: 9px 37px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 31px;
    margin: 18px auto;
    display: block;
    max-width: 104px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.28);
}


a.fancy-ass-btn:hover {
    background: rgb(249,118,86);
    background: linear-gradient(90deg, rgba(249,118,86,1) 0%, rgba(249,40,125,1) 100%);

}
